<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859808854805-i3i1v34njr0oc3o8180minv1l8hifsc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859808854805-i3i1v34njr0oc3o8180minv1l8hifsc3</string>
	<key>API_KEY</key>
	<string>AIzaSyDldZRfmJHyL8BbPM3z0JqNevbmKDMiYhI</string>
	<key>GCM_SENDER_ID</key>
	<string>859808854805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterOda</string>
	<key>PROJECT_ID</key>
	<string>flutteroda</string>
	<key>STORAGE_BUCKET</key>
	<string>flutteroda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859808854805:ios:073e1f4687bbf78e7eaf1c</string>
</dict>
</plist>